<header class="bg-secondary-800 shadow-lg">
  <nav class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between py-6">
      <div class="flex items-center">
        <div class="shrink-0">
          <a href="/" class="flex items-center">
            <img src="/logo.webp" class="h-8 w-8 mr-1" />
            <h1
              class="text-primary-400 hover:text-primary-300 text-2xl font-bold transition-colors"
            >
              HTML Elements
            </h1>
          </a>
        </div>
      </div>
      <div class="hidden md:flex items-baseline space-x-4">
        <a
          href="/"
          class="text-secondary-200 hover:text-primary-400 rounded-md px-3 py-2 font-semibold transition-colors"
        >
          Home
        </a>
        <a
          href="https://htmlelements.dev/docs"
          class="text-secondary-200 hover:text-primary-400 rounded-md px-3 py-2 font-semibold transition-colors"
        >
          Docs
        </a>
        <a
          href="https://htmlelements.dev/examples"
          class="text-secondary-200 hover:text-primary-400 rounded-md px-3 py-2 font-semibold transition-colors"
        >
          Examples
        </a>
      </div>
      <div class="block">
        <a
          href="https://codeberg.org/nexusocean/vite-plugin-html-elements"
          target="_blank"
          rel="noopener noreferrer"
          class="bg-primary-500 hover:bg-primary-600 text-white rounded-lg px-4 py-2 text-sm font-medium transition-colors"
        >
          GitHub
        </a>
      </div>
    </div>
  </nav>
</header>